* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background-image: url(./assets/background.jpg);
  backdrop-filter: blur(7px);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: black;
  width: 800px;
  height: 500px;
  margin: 50px;
  display: flex;
  flex-direction: row;
  box-shadow: 25px 25px 25px black;
}
.image-landing {
  background-color: #ffd35b;
  width: 60%;
  height: 100%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image-landing > img {
  height: 400px;
  width: 500px;
  margin-left: -50px;
}
.img-nav {
  padding-left: 20%;
  color: #00537a;
}
.information {
  color: white;
  width: 300px;
  margin-left: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  margin-top: 20px;
}
.navbar > h2 {
  color: #f5a201;
  font-size: 25px;
  margin-left: -50px;
}
.product-info {
  margin-top: 70px;
  line-height: 70px;
}
.product-info > h1 {
  font-size: 33px;
}
.sizes {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  line-height: 20px;
}
.colors {
  display: flex;
  justify-content: space-between;
  margin-right: 90px;
}
.ball-color {
  margin-top: 20px;
}
#yellow {
  color: yellow;
}
#red {
  color: red;
}
#blue {
  color: blue;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
